/* @font-face {
  font-family: "Lostar";
  src: url("./fonts/Lostar-Regular.woff2") format("woff2"),
    url("./fonts/Lostar-Regular.woff") format("woff"),
    url("./fonts/Lostar-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");

body {
  font-family: sans-serif;
  background-color: #212121;
}

.topBar h1 {
  font-family: "Lostar", sans-serif;
}
header.topBar {
  animation: headerLouded 1s 1 ease forwards paused;
}
@keyframes headerLouded {
  from {
    position: fixed;
    top: -80px;
  }
  to {
    position: fixed;
    top: 0;
  }
}

.content .arrCon:not(.arrCon:first-child) {
  display: none;
}

#z900Con {
  animation: nextAnimatz900 ease 1.5s 1 forwards running;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes nextAnimatz900 {
  0% {
    position: absolute;
    left: 40px;
    top: 130px;
  }

  100% {
    position: absolute;
    left: 22%;
    top: 30px;
  }
}
#gsCon {
  animation: nextAnimatGs ease 1.5s 1 forwards running;
}
@keyframes nextAnimatGs {
  from {
    position: absolute;
    left: 25%;
    top: 30px;
  }
  to {
    position: absolute;
    left: 73%;
    top: 80px;
  }
}

#s1krrCon {
  animation: nextAnimatS1krr 1.5s ease 1 forwards running;
}
@keyframes nextAnimatS1krr {
  from {
    position: absolute;
    left: 73%;
    top: 80px;
  }
  to {
    position: absolute;
    left: 40px;
    top: 130px;
  }
}

/* .animatLoud{
    animation: animat ease 1 forwards;
}
@keyframes animat {
    from{
        transform: scale(.1);
    }
    to{
        transform: scale(1);
    }
} */

.containerr {
  border-image: fill 0 linear-gradient(transparent 60%, #373737 95%);
  animation: gradientAnimation ease both;
  animation-timeline: view(block);
  animation-range: contain 0% cover 100%;
}
@keyframes gradientAnimation {
  0% {
    border-image: fill 0 linear-gradient(transparent 60%, #373737 95%);
  }
  100% {
    border-image: fill 0 linear-gradient(transparent 1%, #373737 70%);
  }
}

.arrCon:hover h1 {
  font-size: 1.15rem;
}
.slider {
  animation: sliderAnimation 1.5s 1 linear forwards;
  display: none;
}

.sliderV2 {
  animation: animatedSlider ease both;
  animation-timeline: view();
  animation-range: contain 0% cover 100%;
}
@keyframes animatedSlider {
  from {
    opacity: 1;
    translate: 0;
  }
  to {
    opacity: 0.3;
    translate: 0 -200px;
  }
}
.leftBtn {
  animation: btnsAnimat ease both;
  animation-timeline: view();
}
.rightBtn {
  animation: btnsAnimat ease both;
  animation-timeline: view();
}
@keyframes btnsAnimat {
  60% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--x) * 100px));
  }
}

.img-border {
  animation: aboutScrollAnimat ease forwards;
  animation-iteration-count: 1;
  animation-timeline: view();
}
.s1krr-about {
  animation: aboutScrollAnimat 1 ease forwards;
  animation-timeline: view(block);
  overflow: hidden;
  margin-left: 50px;
}
.z900-about {
  animation: aboutScrollAnimat 1 ease forwards;
  animation-timeline: view(block);
  overflow: hidden;
  margin-left: 50px;
}
.gs-about {
  animation: aboutScrollAnimat 1 ease forwards;
  animation-timeline: view(block);
  overflow: hidden;
  margin-left: 50px;
}
@keyframes aboutScrollAnimat {
  0% {
    transform: translateX(calc(var(--x) * 200px));
  }
  50% {
    transform: translateX(0);
  }
}
.animate-once {
  animation: fadeIn 2s forwards;
}

.s1krrContent::before {
  content: "";
  position: absolute;
  --size: -120px;
  top: var(--size);
  left: 50%;
  translate: -50% 0;
  height: 120px;
  width: 7px;
  background-image: linear-gradient(to top, #838383, #e4e4e4);
  animation: visibleBeforeScroll ease both;
  animation-timeline: view(block);
  animation-range: contain 20% contain 40%;
}
.s1krrContent::after {
  content: "";
  position: absolute;
  --size: -135px;
  top: var(--size);
  left: 50%;
  translate: -50% 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  z-index: 0;
  background: #e4e4e4;
  animation: visibleAfterScroll ease both;
  animation-timeline: view(block);
  animation-range: contain 20% contain 40%;
}

.z900Content::before {
  content: "";
  --size: -120px;
  position: absolute;
  top: var(--size);
  left: 50%;
  translate: -50% 0;
  height: 120px;
  width: 7px;
  z-index: 0;
  background-image: linear-gradient(to top, #838383, #e4e4e4);
  animation: visibleBeforeScroll ease both;
  animation-timeline: view(block);
  animation-range: contain 20% contain 40%;
}
.z900Content::after {
  content: "";
  position: absolute;
  --size: -135px;
  top: var(--size);
  left: 50%;
  translate: -50% 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  z-index: 0;
  background: #e4e4e4;
  animation: visibleAfterScroll ease both;
  animation-timeline: view(block);
  animation-range: contain 20% contain 40%;
}

.gsContent::before {
  content: "";
  position: absolute;
  --size: -120px;
  top: var(--size);
  left: 50%;
  translate: -50% 0;
  height: 120px;
  width: 7px;
  z-index: 0;
  background-image: linear-gradient(to top, #838383, #e4e4e4);
  animation: visibleBeforeScroll ease both;
  animation-timeline: view(block);
  animation-range: contain 20% contain 40%;
}
.gsContent::after {
  content: "";
  position: absolute;
  --size: -135px;
  top: var(--size);
  left: 50%;
  translate: -50% 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  z-index: 0;
  background: #e4e4e4;
  animation: visibleAfterScroll ease both;
  animation-timeline: view();
  transition: all 1s;
}

@keyframes visibleAfterScroll {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  70% {
    opacity: 1;
  }
}
@keyframes visibleBeforeScroll {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}

#features h1 {
  opacity: 0;
  animation: visibleScroll ease both;
  animation-timeline: view();
}
@keyframes visibleScroll {
  20% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

.imgBorder {
  animation: featuresScrollAnimat ease both;
  animation-timeline: view();
}
.content {
  animation: featuresContentScroll ease both;
  animation-timeline: view();
  animation-range: cover 0% contain 40%;
}
@keyframes featuresContentScroll {
  0% {
    transform: translateY(calc(var(--x) * 200px));
    opacity: 0.7;
  }
  80% {
    transform: translateYX(calc(var(--x) * 200px));
    opacity: 1;
  }
}

@keyframes featuresScrollAnimat {
  0% {
    position: relative;
    right: calc(var(--x) * 400px);
    scale: calc(var(--y) * 0.1);
    opacity: 0.5;
  }
  70% {
    position: relative;
    right: 0;
    scale: 1;
    opacity: 1;
  }
}

#menu-icon {
  display: none;
}
hr {
  display: none;
}

@media screen and(min-width: 768px), (max-width: 1023px) {
  /* Tablet Resolution */
  .container {
    background-position: center;
    width: 100vw;
  }
  .topBar {
    display: flex;
    width: 100vw;
    & h1 {
      font-size: 1.4rem;
    }
    & ul {
      gap: 40px;
      & li {
        font-size: 0.9rem;
      }
    }
  }
  .sliderV2 {
    margin-inline: auto;
    & .imgV2 {
      width: 200px;
      height: 120px;
    }
  }
  #aboutPage {
    height: 140vh;
  }
  .s1krrV2 {
    width: 90%;
    height: 240px;
    /* overflow: hidden; */
  }
  .s1krr-about {
    translate: 50px 0;
    height: 240px;
    & h1 {
      font-size: 1.25rem;
    }
    & p {
      font-size: 0.9rem;
    }
  }
  .z900V2 {
    width: 90%;
    height: 240px;
  }
  .z900-about {
    translate: 50px 0;
    height: 240px;
    & h1 {
      font-size: 1.25rem;
    }
    & p {
      font-size: 0.9rem;
    }
  }
  .gsV2 {
    width: 90%;
    height: 240px;
  }
  .gs-about {
    translate: 50px 0;
    height: 240px;
    & h1 {
      font-size: 1.25rem;
    }
    & p {
      font-size: 0.9rem;
    }
  }
  .img-border {
    width: 400px;
    height: 240px;
    translate: -50px 0;
  }
  @keyframes aboutScrollAnimat {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(0);
    }
  }
  hr {
    display: block;
    width: 90%;
    translate: 0 -90px;
    margin-inline: auto;
  }
  #features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* columns: 2 400px; */
    height: 200vh;
    padding-top: 50px;
    /* height: 150vh; */
    padding-top: 0;
    & h1 {
      font-size: 1.7rem;
      position: absolute;
      top: -135px;
    }
    & .s1krrFeatures {
      width: fit-content;
      margin-inline: auto;
      & .imgBorder {
        animation: none;
      }
      & .content {
        animation: none;
      }
    }
    & .z900Features {
      width: fit-content;
      margin-inline: auto;
      & .imgBorder {
        animation: none;
      }
      & .content {
        animation: none;
      }
    }
    & .gsFeatures {
      width: fit-content;
      margin-inline: auto;
      & .imgBorder {
        animation: none;
      }
      & .content {
        animation: none;
      }
    }
    .s1krrContent,
    .z900Content,
    .gsContent {
      &::after {
        animation: none;
      }
      &::before {
        animation: none;
      }
    }
  }
}
#menuIcon {
  display: none;
  margin-right: 10%;
}
@media screen and (max-width: 767px) {
  /*  Mobil Resolution */
  .brightnessLayer {
    background-color: #212121e0;
    z-index: 99;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      /* content: "This Version Doesn't available"; */
      content: "This version is under maintenance";
      font-size: 2rem;
      color: #e8e8e8;
      font-weight: 600;
    }
  }
  .sliderV2 {
    display: none;
  }
  #menuIcon {
    display: block;
  }
  .btns {
    position: relative;
    top: 80vh;
    width: 90%;
    margin-inline: auto;
    & .leftBtn {
      border-radius: 50%;
    }
    & .rightBtn {
      border-radius: 50%;
    }
  }
  .s1krrV2 {
    display: flex;
    flex-direction: column;
  }

  @keyframes btnsAnimat {
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }
  .lists {
    display: none;
  }
  #aboutPage,
  #features,
  footer {
    display: none;
  }
  /* .s1krrV2 {
    display: flex;
    flex-direction: column;
    width: 500px;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
  /*height: 700px;
    & .img-border {
      animation: none;
      width: 100%;
    }
    & .s1krr-about {
    }
  }
  .z900V2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 300px;
    width: 90vw;
    & .img-border {
      animation: none;
    }
  }
  .gsV2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 300px;
    width: 90%;
    & .img-border {
      animation: none;
    }
  }
  #features {
    display: grid;
    grid-template-columns: 1fr;
  } */
  #contactPage,
  hr,
  .btns {
    display: none;
  }
}

#contactPage {
  font-family: Arial, Helvetica, sans-serif;
  /* Hide arrows for Chrome, Safari, and Edge */
  & input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  & input:focus,
  input:valid {
    outline: none;
    border: none;
    border-bottom: solid 2px #e8e8e8;
    border-radius: 0;
    & + label {
      transform: translateY(-25px) scale(1.05);
      opacity: 0.6;
    }
  }
  #message-input::placeholder {
    color: #e8e8e8bd;
  }
}
